/* Button styling */
.toggleButton {
    background-color: #715eb7;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  /* Hover effect */
  .toggleButton:hover {
    background-color: #484682; 
  }
  
  .toggleButton.active {
    background-color: #1e2e4d; 
  }

/* Toolbar  */
.toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 15px;
  z-index: 1;
}

.logo-image img {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}

.toolbar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-icon {
  background-color: #715eb7; 
  color: white; 
  font-size: 20px; 
  border: none; 
  border-radius: 50%; 
  width: 30px; 
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0; 
  transition: background-color 0.3s, transform 0.3s; 
}

.question-icon:hover {
  background-color: #484682; 
  transform: scale(1.1); 
}

.feature-question-icon {
  background-color: #715eb7; 
  color: white; 
  font-size: 10px; 
  border: none; 
  border-radius: 50%; 
  width: 15px; 
  height: 15px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0; 
  transition: background-color 0.3s, transform 0.3s; 
}

.instructions-popup {
  position: absolute;
  top: 10px;
  left: 240px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.instructions-popup h3 {
  font-size: 18px;
  color: #1e2e4d;
  margin-bottom: 5px;
}

.instructions-popup p {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.close-button {
  background-color: #715eb7;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #484682;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.label-with-tooltip {
  position: relative; 
  cursor: pointer; 
}

/* Tooltip styles */
.label-with-tooltip::after {
  content: attr(data-tooltip); 
  position: absolute; 
  bottom: 100%; 
  left: 100px; 
  transform: translateX(-50%);
  background-color: #333; 
  color: white; 
  padding: 5px 10px; 
  border-radius: 4px; 
  font-size: 14px; 
  white-space: normal; 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s; 
  pointer-events: none; 
  min-width: 200px;
  max-width: 200px;
}

.label-with-tooltip:hover::after {
  opacity: 1; /* Show tooltip */
  visibility: visible; /* Ensure visibility */
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A7A7A7;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #715eb7;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Year Slider Track */
.year-slider {
  -webkit-appearance: none; /* Remove default  */
  appearance: none;
  width: 90%; 
  height: 12px; 
  background: #C2C5C5; 
  border-radius: 6px; 
  outline: none; 
  opacity: 0.9; 
  transition: background 0.3s ease-in-out; 
}

.year-slider:hover {
  background: #d6d6d6;
}

/* Year Slider Thumb */
.year-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px; 
  background: #715eb7; 
  border-radius: 50%; 
  cursor: pointer; 
  transition: transform 0.2s ease-in-out; 
}

.year-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1); 
}

.year-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #715eb7;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.year-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}

/* Track Focus Styling */
.year-slider:focus {
  box-shadow: 0 0 5px #715eb7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal button {
  margin-top: 5px;
}

.modal h2 {
  margin-bottom: 20px;
}

/* Loading Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
